<aside
    class="px-6 py-4 code text-base shadow-inner cursor-default select-none"
    x-data="cursor"
>
    <div class="flex items-center space-x-2 select-none">
        <div class="flex items-center font-bold">
            <span class="text-green-400">user@gesetzesapp</span>
            <span class="hidden sm:block text-blue-400">[v{{ current_version() }}]</span>
            <span class="text-blue-gray-400">:</span>
        </div>
        <div class="relative">
            <span class="hidden sm:inline italic">cowsay</span>
            <span class="italic">project --help</span>
            <i x-ref="cursor" class="-mr-4 w-2.5 h-full absolute right-0 top-0 bg-blue-gray-500"></i>
        </div>
    </div>
    <div class="sm:hidden">
        <p class="mt-4">
            Im Rahmen dieser Anwendung haben Vertreter:innen der Staatsanwaltschaft die Möglichkeit, Dateien mit Sitzungsterminen hochzuladen.
        </p>
        <p class="mt-4">
            Infos zum Umgang mit Euren Daten <a class="link font-bold text-green-400 hover:text-yellow-300" href="/rechtliche-angaben">gibt es hier</a>.
        </p>
    </div>
    <pre class="pt-2 hidden sm:block">
     __________________________________________________
    / Im Rahmen dieser Anwendung könnt Ihr beliebige   \
    | Texte hochladen und darin enthaltene Gesetze     |
    | automatisch verlinken (lassen).                  |
    |                                                  |
    \ Infos zum Umgang mit Euren Daten <a class="link font-bold text-green-400 hover:text-yellow-300" href="/rechtliche-angaben">gibt es hier</a>.   /
     --------------------------------------------------
            \   ^__^
             \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||</pre>
</aside>
