{% extends 'base.html' %}

{% block header %}

<header class="px-6 pt-8">
    <div class="alert warning flex items-center" role="alert">
        <div class="flex-none hidden sm:block">
            <i class="icon-info mr-3 text-current"></i>
        </div>
        {% if data['mode'] == 'Markdown' %}
        <p class="flex-1"><span class="font-medium">Hinweis:</span> Es wurde der <span class="italic">{{ data['mode'] }}</span>-Modus verwendet.</p>
        {% else %}
        <p class="flex-1"><span class="font-medium">Hinweis:</span> Es wurde {% if data['title'] == 'light' %}der <span class="italic">Kurztitel des Gesetzes</span> als{% elif data['title'] == 'normal' %}der <span class="italic">vollständige Titel des Gesetzes</span> als{% elif data['title'] == 'full' %}die <span class="italic">nicht-amtliche Überschrift</span> als{% else %}kein{% endif %} Titelattribut verwendet.</p>
        {% endif %}
    </div>
</header>

{% endblock %}


{% block content %}

<h2 class="mb-2 font-bold text-xl">
    <span class="text-blue-500">Schritt 3:</span> Text zum Mitnehmen
</h2>
<p class="mb-6">
    Der Text kann mit einem Klick auf die untenstehende Schaltfläche kopiert und dann nach Belieben verwendet werden:
</p>

<div class="mb-8" x-data="copy">
    <div class="mb-12 flex justify-center">
        <button
            type="button"
            class="group table btn py-3 px-4"
            @click="copy"
        >
            <div class="flex items-center">
                <div class="flex-none hidden xs:block">
                    <i class="icon-clipboard mr-4 text-blue-800 group-hover:text-orange-600 group-focus:text-orange-600 transition-colors duration-200"></i>
                </div>
                <div class="flex-1 font-medium">
                    <span x-text="label" class="text-white"></span>
                    <span class="hidden xs:inline text-sm text-blue-200 group-hover:text-orange-200 group-focus:text-orange-200 transition-colors duration-200">
                        ({{ data['count'] }} Zeichen)
                    </span>
                </div>
            </div>
        </button>
    </div>
    <pre x-ref="text" class="code whitespace-pre-wrap rounded-lg">{{ data['text'] }}</pre>
</div>

<h2 class="mb-2 font-bold text-xl">
    Alle Normen <span class="text-blue-500">auf einen Blick</span>
</h2>
<p class="mb-4">
    Für einen schnellen Überblick werden hier alle enthaltenen Normen unter ihrem jeweiligen Gesetz aufgelistet:
</p>
<ul class="mb-8">
    {% for law, norms in data['norms'].items() %}
    <li
        x-data="dropdown"
        class="{% if not loop.first %} mt-4 {% endif %} border-2 border-dashed border-gray-400 hover:border-blue-500 rounded-lg"
        :class="{ 'border-blue-500' : isOpen }"
    >
        <button
            class="group py-2 px-3 w-full flex items-center text-gray-600 focus:outline-none"
            @click="toggle"
        >
            <div class="flex-1 text-left">
                <p class="font-medium group-hover:text-blue-500">{{ law }} <span class="text-sm text-gray-400 group-hover:text-blue-300">({{ norms | length }} {% if norms | length > 1 %}Normen{% else %}Norm{% endif %})</span></p>
            </div>
            <i class="flex-none text-gray-400 group-hover:text-blue-500" :class="{ 'icon-remove' : isOpen, 'icon-add' : !isOpen}"></i>
        </button>
        <ul class="px-3 py-4" x-show="isOpen" x-cloak>
            <pre class="code rounded-lg">{{ norms | json2string }}</pre>
        </ul>
    </li>
    {% endfor %}
</ul>

<div class="flex justify-end">
    <a class="btn" href="/">Neustart</a>
</div>

{% endblock %}
