{% extends 'base.html' %}


{% block header %}

{% include 'banner.html' %}

{% if message %}
<header class="px-6 pt-8">
    <div class="alert {% if error %} error {% else %} warning {% endif %} flex items-center" role="alert">
        <div class="flex-none hidden sm:block">
            <i class="icon-{% if error %}danger{% else %}info{% endif %} mr-3 text-current"></i>
        </div>
        <p class="flex-1"><span class="font-medium">{% if error %}Achtung{% else %}Hinweis{% endif %}:</span> {{message}}</p>
    </div>
</header>
{% endif %}

{% endblock %}


{% block content %}

<form class="m-0" method="post" enctype="multipart/form-data">
    <fieldset class="mb-8" x-data="textbox">
        <div class="mb-4 flex flex-col xs:flex-row xs:items-center justify-between">
            <label for="query" class="font-bold text-xl"><span class="text-blue-500">Schritt 1:</span> Text eingeben<span class="text-orange-400">*</span></label>
            <div class="font-bold text-sm text-orange-400">
                Limit: <span x-text="length"></span> / <span x-text="maxLength"></span>
            </div>
        </div>
        <textarea
            class="my-4 px-3 py-2 w-full min-h-64 border-2 border-gray-300 hover:border-orange-400 focus:bg-blue-50 focus:border-blue-500 resize-none outline-none transition-colors duration-200 rounded-lg"
            x-ref="text"
            x-model="content"
            id="text"
            name="text"
            maxlength="1024"
            placeholder="Die Würde des Menschen ist unantastbar. Sie zu achten und zu schützen ist Verpflichtung aller staatlichen Gewalt."
        ></textarea>
    </fieldset>

    <fieldset class="mb-8">
        <div class="mb-4 flex flex-col xs:flex-row xs:items-center justify-between">
            <label for="query" class="font-bold text-xl"><span class="text-blue-500">Schritt 2:</span> Einstellungen anpassen<span class="text-orange-400">*</span></label>
            <span class="font-bold text-sm text-orange-400">* empfohlen</span>
        </div>
        <p class="mb-8">
            Die Verarbeitung des obenstehenden Textes kann durch die nachfolgenden Optionen angepasst werden.
        </p>

        <h3 class="mb-2 font-medium text-lg"><span class="text-blue-500">a)</span> Modus</h3>
        <div class="mb-4 flex space-x-4">
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="html" name="lang" value="HTML" checked>
                <label for="html">HTML</label>
            </div>
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="md" name="lang" value="Markdown">
                <label for="md">Markdown</label>
            </div>
        </div>
        <p class="alert warning mb-8">
            <span class="font-medium">Hinweis:</span> Die Entscheidung zwischen den Optionen <span class="italic">HTML</span> und <span class="italic">Markdown</span> hängt von der Software ab, die mit dem Text gefüttert werden soll. <abbr class="underline-offset-3" title="HyperText Markup Language">HTML</abbr> ist zwar kompatibel mit <abbr class="underline-offset-3" title="Anspielung auf dessen geringere Anforderungen gegenüber 'Markup'">Markdown</abbr>, allerdings nicht umgekehrt!
        </p>

        <h3 class="mb-2 font-medium text-lg"><span class="text-blue-500">b)</span> Titelattribut</h3>
        <div class="mb-4 flex space-x-4">
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="none" name="title" value="none" checked>
                <label for="none">Keines</label>
            </div>
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="light" name="title" value="light">
                <label for="light">Abkürzung</label>
            </div>
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="normal" name="title" value="normal">
                <label for="normal">Gesetz</label>
            </div>
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="full" name="title" value="full">
                <label for="full">Norm</label>
            </div>
        </div>
        <p class="alert info mb-4">
            <span class="font-medium">Beispiele:</span> Abkürzung = Kurztitel des Gesetzes, etwa "StGB"; <span class="italic">Gesetz</span> = vollständiger Titel des Gesetzes, etwa "Strafgesetzbuch"; <span class="italic">Norm</span> = nicht-amtliche Überschrift der jeweiligen Gesetzesnorm, etwa "§ 1 Keine Strafe ohne Gesetz".
        </p>
        <p class="alert warning mb-8">
            <span class="font-medium">Hinweis:</span> Das <abbr class="underline-offset-3" title="engl. 'title' attribute">Titelattribut</abbr> wird angezeigt, wenn der Mauszeiger über dem jeweiligen Link "schwebt", setzt allerdings die Option <span class="italic">HTML</span> voraus!
        </p>

        <h3 class="mb-2 font-medium text-lg"><span class="text-blue-500">c)</span> Öffnen in neuem Fenster</h3>
        <div class="mb-4 flex space-x-4">
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="no" name="target" value="none" checked>
                <label for="no">Nein</label>
            </div>
            <div class="flex space-x-2 items-center">
                <input class="text-blue-500 focus:text-orange-400" type="radio" id="yes" name="target" value="blank">
                <label for="yes">Ja</label>
            </div>
        </div>
        <p class="alert warning">
            <span class="font-medium">Hinweis:</span> Diese Option kontrolliert das <abbr class="underline-offset-3" title="engl. 'target' attribute">Zielattribut</abbr> und legt fest, ob erzeugte Links in einem neuen Fenster geöffnet werden sollen oder nicht.
        </p>
    </fieldset>

    <div class="flex justify-end">
        <input class="btn text-center" type="submit" value="Absenden">
    </div>
</form>

{% endblock %}
