{% extends 'base.html' %}


{% block title %}Über das Projekt "Rechtslinks as a Service"{% endblock %}


{% block content %}

<h2 class="mb-2 font-bold text-xl">
    Über dieses <span class="text-blue-500">Projekt</span>
</h2>
<p class="mb-4">
    Dieses Projekt soll einen (kleinen) Beitrag dazu leisten, Autor:innen die Arbeit mit juristischen Texten im Vorfeld einer Veröffentlichung im Internet zu erleichtern:
</p>
<p class="alert info mb-4">
    <span class="font-medium">Beispiel:</span> Referendarin Petra Müller soll im Rahmen ihrer Verwaltungsstation eine neue Verwaltungsvorschrift erklären und alle verwendeten Bundesnormen auf "Gesetze im Internet" verlinken - das <abbr class="underline-offset-3" title="Content Management System">CMS</abbr> ist leider veraltet, weshalb eine <span class="italic">automatische Umwandlung nicht möglich</span> ist. Uff, erstmal einen Kaffee ..
</p>
<p class="mb-2">
    <span class="font-medium">Das Problem:</span> Bereits vor dem Ersten Staatsexamen gehört es zum Tagesgeschäft aller Jurist:innen, sich mittels <span class="italic">copy&paste</span> durch das Internet zu bewegen - eine müßige und undankbare Tätigkeit, die jede:r am liebsten vermeiden will.
</p>
<p class="mb-8">
    <span class="font-medium">Die Lösung:</span> So entstand die Idee, eine Anwendung bereitzustellen, die vielseitig verwendbar und einfach zu bedienen ist, um auch größere Texte schnell für die Veröffentlichung in einem Onlinemedium aufzubereiten.
</p>

<h2 class="mb-2 font-bold text-xl">
    Über die <span class="text-blue-500">Technik</span>
</h2>
<p class="mb-4">
    Dieses Projekt ist <a class="link" href="https://fsfe.org/freesoftware/freesoftware.de.html" title="Link zur Webseite der 'Free Software Foundation Europe'" target="_blank">Freie Software</a>: Der Quellcode des Programms steht unter der freien <abbr class="underline-offset-3" title="GNU Public License">GPL</abbr>-Lizenz und ist vollständig <a class="link" href="https://codeberg.org/S1SYPHOS/gesetzesapp" title="Link zur Codeberg-Seite des Projekts 'gesetzesapp'" target="_blank">auf Codeberg verfügbar</a>.
</p>
<p class="alert info mb-4">
    Die Anwendung ist in der Programmiersprache <a class="link text-blue-700" href="https://de.wikipedia.org/wiki/Python_(Programmiersprache)" title="Link zum Wikipedia-Artikel über 'Python'" target="_blank">Python</a> geschrieben und basiert auf dem Webframework <a class="link italic text-blue-700" href="https://de.wikipedia.org/wiki/Flask" title="Link zum Wikipedia-Artikel über 'Flask'" target="_blank">Flask</a>. Darauf aufbauend kommen das CSS-Framework <a class="link italic text-blue-700" href="https://windicss.org" title="Link zur Webseite von 'Windi CSS'" target="_blank">Windi CSS</a> sowie das JavaScript-Framework <a class="link italic text-blue-700" href="https://alpinejs.dev" title="Link zur Webseite von 'Alpine.js'" target="_blank">Alpine.js</a> zum Einsatz.
</p>
<p class="mb-2">
    In einem ersten Schritt extrahiert die Anwendung alle Rechtsnormen aus dem zur Verfügung gestellten Text, ohne diese jedoch zu speichern - hierbei bedient sie sich der Programmbibliothek <a class="link italic" href="https://codeberg.org/S1SYPHOS/py-gesetze" title="Link zur Codeberg-Seite des Projekts 'py-gesetze'" target="_blank">py-gesetze</a>.
</p>
<p class="mb-2">
    An dieser Stelle haben Nutzer:innen die Möglichkeit, Links in den Formaten HTML oder Markdown zu erzeugen und <span class="font-medium">individuell anzupassen</span>, etwa durch Auswahl eines geeigneten <a class="link" href="https://wiki.selfhtml.org/wiki/HTML/Attribute/title" title="Link zum SelfHTML-Artikel über das 'title'-Attribut" target="_blank">Titelattributs</a> - andernfalls werden <span class="italic">sinnvolle Voreinstellungen</span> verwendet.
</p>
<p class="mb-4">
    Anschließend wird jede gefundene Rechtsnorm durch einen <a class="link" href="https://de.wikipedia.org/wiki/Hyperlink" title="Link zum Wikipedia-Artikel über 'Hyperlink'" target="_blank">Hyperlink</a> ersetzt und schließlich der angepasste Text zurückgegeben.
</p>
<div class="alert warning mb-8 flex items-center" role="alert">
    <div class="flex-none hidden sm:block">
        <i class="icon-info mr-3 text-current"></i>
    </div>
    <p class="flex-1">
        <span class="font-medium">Hinweis:</span> Der gesamte Prozess findet <span class="font-medium italic">in-memory</span> statt, sodass auf dem Server keinerlei (personenbezogene) Daten gespeichert werden.
    </p>
</div>

<div class="flex justify-end">
    <a class="btn" href="/">Neustart</a>
</div>

{% endblock %}
